<!-- Inside add-new-teacher.component.html -->
<app-navbar [title]="'Add New Teacher'"></app-navbar>
<div>
    <form #addTeacherForm="ngForm" class="form-container" (ngSubmit)="createTeacher(addTeacherForm.value)">
        <label for="teacher-id">ID:</label>
        <input id="teacher-id" ngModel name="id" type="text" placeholder="Enter ID" required>

        <label for="teacher-name">Name:</label>
        <input id="teacher-name" ngModel name="name" type="text" placeholder="Enter Name" required>

        <label for="teacher-age">Age:</label>
        <input id="teacher-age" ngModel name="age" type="text" placeholder="Enter Age" required>

        <button id="teacher-add" class="form-button" type="submit">Create</button>
    </form>
</div>
